// secrets.h

#ifndef SECRETS_H
#define SECRETS_H

// --- WiFi 設定 ---
#define WIFI_SSID "your-wifi-ssid"
#define WIFI_PWD  "your-wifi-pwd"

// --- 管理員資訊 ---
// 您的管理員 Email，用於特殊權限驗證
#define ADMIN_EMAIL "your-admin-email@apps.ntpc.edu.tw"

// 當發送者是 ADMIN_EMAIL 時，將使用以下固定的 LINE 資訊來發送訊息
// 這是管理員自己的 LINE User ID，用於接收警報或測試訊息
#define ADMIN_LINE_USERID "YOUR_ADMIN_LINE_USER_ID" 
// 這是管理員的 LINE Channel Access Token
#define ADMIN_LINE_TOKEN "YOUR_ADMIN_LINE_ACCESS_TOKEN"

#endif